.content-name{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

.p-subtitle{
    font-family: 'Rubik';
    font-size: 32px;
    color: #fff;
    font-weight: 200;
}

.arrow{
    display: flex;
    padding: 10px;
    width: 52px;
}