* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #080c12;
  font-family: 'Rubik';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Rubik';
  font-size: 40px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-family: 'Rubik';
  font-size: 36px;
  color: #fff;
  font-weight: 400;
}

p {
  font-family: 'Rubik';
  font-size: 16px;
  color: #fff;
  line-height: 1.4;
}

a{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-color: rgba(255, 255, 255, 0.3);
}
a:hover{
  color: #f1f1f1;
}

code {
  font-family: 'Rubik';
}
