#cursor-bg {
  /* display: none; */
  position: absolute;
  display:inline-block !important;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  filter: blur(100px);
}

@media (max-width: 1024px) {
  #cursor-bg {
    display: none !important;
  }
}
