.container-name{
    display: flex;
    max-width: 55%;
    padding: 20px;
    flex-direction: column;
    margin-bottom: 5rem;
    flex-wrap: wrap;
  }

  .p-subtitle{
    margin-top: 1rem;
    font-family: 'Rubik';
    font-size: 18px;
    color: #aaaaaa;
    font-weight: 200;
  }

  .btn-down{
    display: flex;
    max-width: 40%;
    height: 52px;
    margin-top: 2rem;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background: rgba(170, 170, 170,0.1);
    border: 1px solid rgba(170, 170, 170,0.3);
    border-radius: 10px;
    transition: all 0.5s;
    text-decoration: none;
  }

  .btn-down:hover{
    background: rgba(170, 170, 170,0.3);
    border: 1px solid rgba(170, 170, 170,0.1);
  }

