.container-contact{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 8rem 0;
}

.content-contact{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.content-contact-text{
    width: 100%;
    display: flex;
    margin-bottom: 5rem;
    justify-content: center;
}

.content-contact-image img{
    padding: 0 2rem;
    cursor: pointer;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.content-contact-image img:hover {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.p-contact{
    color: #aaaaaa;
}