.set-container {
  z-index: 20;
  display: flex;
  width: 70px;
  height: 150px;
  top: 30%;
  right: 0;
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px 0 0 20px;
  transition: 0.4s;
  backdrop-filter: blur(10px);

}

.set-container:hover {
  background: rgba(255, 255, 255, 0.2);
  width: 80px;
}
.set-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

img {
  display: block;
  cursor: pointer;
}
.flagBR {
  width: 32px;
  filter: grayscale(2);
}
.flagBR:hover {
  filter: grayscale(0);
}
.flagEN {
  width: 32px;
  filter: grayscale(2);
}
.flagEN:hover {
  filter: grayscale(0);
}
.flagES {
  width: 32px;
  filter: grayscale(2);
}
.flagES:hover {
  filter: grayscale(0);
}
.active {
  filter: grayscale(0);
}

@media only screen and (max-width: 1080px) {
  .set-container {
    display: none;
  }

}
